export(GeomRugAlt, LayoutFourPlotsPerPage, granova.1w, granova.2w, granova.ds, granova.contr, granovagg.1w, granova.ds.ggplot, granova.contr.ggplot)
importFrom(car, scatter3d, identify3d)
import(ggplot2)